* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #0f172a, #312e81, #0f172a);
  color: #ededed;
  margin: 0;
  padding: 0;
}
